/* BODY */
body {
    background-color: #111411;
    min-width: max-content;
    height: 100%;
}

/* DIVS */
#main_div{
    margin: 0 auto;
    width: 760px;
    
}

#opt_div{
    float: left;
    width: 120px;
    height: 100%;
}

#disp_div{
   float: right;
   width: 640px;
   height: 100%;
}

/* CANVASES */
canvas{
    background-color: #000000;
    border-radius: 10px;
    transition-duration: 1000ms;
}

canvas:hover{
    box-shadow: 0px 0px 12px 12px #070707;
    transition-duration: 2000ms;
}

#game_cnv{
    margin: 0 auto;
}

#chart_cnv{
    margin-top: 10;
}

#data_cnv{
    margin-top: 10;
    margin-right: 6;
}

/* OPTION PANEL */
#option_panel{
    text-align: center;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 10px 0px;
    height: 710px;
    width:120px;
    transition-duration: 1000ms;
    margin-right: 10px;
    
}

#option_panel:hover{
    box-shadow: 0px 0px 12px 12px #d4e2e2;
    transition-duration: 2000ms;
    
}

.opt_el{
    color: rgb(237, 245, 237);
    margin: 10px 0px;
    width: 90px;
    height:20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
   
}

input{
    border-radius: 5px;
    background-color: #111411;
 

}

/* removes spinners from input boxes */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#restart_btn{
    transition-duration: 1000ms;
    width:100px;
    height: 100px;
}

#restart_btn:hover{
    transform: scale(1);
    box-shadow: 0px 0px 15px 15px #00c0fa;
    transition-duration: 2000ms;
}

#abt,#me{
    background-color: #111411;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 5px;
    width: 100px;
    height: 40px;
    transition-duration: 1000ms;
}

#abt:hover
{
    background-color: #fae100;
    transition-duration: 1000ms;
    color:black;
}
#me:hover
{
    background-color: #8100fa;
    transition-duration: 1000ms;
}
h3{
    color: #ffffff;
    font-size: 18px;}



